
<div id="contents">
	<div class="box">
		<div>
			<div class="body">
				<h1>Rooms</h1>
				
				<ul id="rooms">
					{{#each roomsData}}
						<li>
							<a href="/rooms"><img src="images/{{this.image}}" alt="Img"></a>
							<h2><a href="/rooms">{{this.name}}</a></h2>
							{{{this.description}}}
							<span class="rate">Rate: {{this.rate}} / Day</span>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
		